<!DOCTYPE html>
<html>
  <head>
    <title>Deposit</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
  </head>
  <body>
    <div class="formDiv login">
      <h1>Deposit</h1>
      <form method="POST">
        <label for="deposit_amount">Deposit Amount</label>
        <input type="text" name="deposit_amount" id="deposit_amount" placeholder="" required/>
        <div class="btn-block">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>